<div class="container-fluid">
    <div id="passwordbox" style="margin-top:7%; margin-left:40%" class="mainbox col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Change Password</div>

            </div>

            <div style="padding-top:5%" class="panel-body" >


                <form name="changeUserPassword" class="form-horizontal" role="form" method="post" ng-controller="ChangePasswordCtrl" ng-submit="changePassword()">

                    <div style="margin-bottom: 6%" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="cur-password" type="password" class="form-control" name="password" placeholder="Enter Current Password" ng-model="pwd_details.password" required>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="new-password" type="password" class="form-control" name="newpassword" placeholder="Enter New Password" ng-model="pwd_details.newpassword" required>
                    </div>


                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="repnew-password" type="password" class="form-control" name="repnewpassword" placeholder="Enter New Password again" ng-model="pwd_details.repnewpassword"  required>
                        <span ng-show="pwd_details.newpassword!==pwd_details.repnewpassword && !changeUserPassword.pwd_details.repnewpassword.$pristine" class="textError">Both Passwords must match</span>
                    </div>


                    <div style="margin-top:4%" class="form-group">


                        <div class="col-md-offset-3 col-md-9"  >

                            <input type="submit" class="btn btn-success" value="Change Password">

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div></div>

